/* Larger viewports */
@media only screen and (min-width: 50.6em) {
	.logo img {
		width: 125px;
	}

	.headings h1 {
		font-size: 2rem;
		margin: 0;
	}

	.m {
		letter-spacing: 1.5pt; 
		font-size: 0.9rem;
	}

	/* Media Query for medium+ views */

	nav {
		background-color:  #fff;
	}

	.navigation {
		display: flex;
	}

	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}

	.navigation a {
		text-align: center;
	}
	
	.navigation li:first-child {
		display: none;
	}

	.social {
		order: 2;
	}

	.menu {
		order: 1;
	}

	em {
		font-size: 14px;
	}	
}








/* 64em is also 1040px when basefont is 16px */
@media only screen and (min-width: 65rem) {

    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.5em;
    }

    .navigation {
        margin-top: 30px;
    }  
 
    nav ul li a {
        padding: .5rem 1rem;
    }

}

@media (min-width: 800px) {
    .home-hero {
     grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-template-rows: minmax(250px, auto) minmax(250px, auto);
     grid-auto-rows: minmax(150px, auto);
   }
       
   .event {
       grid-column: 1 / 2;
       grid-row: 1 / 2;
     }
   .mainHero {
     grid-column: 2 / 4 ;
     grid-row: 1 / 3;
   }
   .spotlights {
     grid-column: 4 / 5;
     grid-row: 1 / 4;
     grid-template-columns: 100%;
     grid-template-rows: 200px;
     display: flex;
	 flex-direction: column;
	 justify-content: space-between;
   }
   .spot-3 {display: block;}
   .weather {
       grid-column: 1 / 2;
       grid-row: 2 / 3;
     }
   .join {
       grid-column: 1 / 2;
       grid-row: 3 / 4;
     }  
   .news {
       grid-column: 2 / 4;
       grid-row: 3 / 4;
     }  

     .spot-3 > h3{
        background-color: #fff;
        margin: 0px;  
        padding: 5px;
    }
    .spot-3 > p{
        color: #fff;
    }



	.workInfo, .infoChamber {
		padding: 1px ;
		display: flex;
		justify-content: center;
		flex-direction: row;

    .footer-site-name h2 {
      display: flex;
      margin-top: 1px ;
      margin-bottom: 1px;
      justify-content: left;
    }
	}
	
 }
 