body {
	padding: 0;
	margin: 0;
	background-color: lightgray;
	font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}

header {
	display: flex;
	flex-flow: column;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #fff;
    margin: 4px;
	border: 1px solid #858585;
}

.header {
	padding: 5px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}

.logo {
	display: flex;
	align-items: center;
	margin-left: 1rem;
}

.logo img {
	width: 80px;
	height: 100px;
}

.headings {
	display: flex;
	flex-direction: column;
	margin-left: .5rem;
}

.headings h1 {
	font-size: 1.5rem;
	color: #02476d;
}

.m {
	letter-spacing: 1pt;
	color: forestgreen;
	font-weight: 700;
	font-size: 0.8rem;
}

.social {
	margin-right: 1.5rem;
}

.social img {
	width: 30px;
	height: auto;
}

/* Small/Phone View ***************/
nav button {
    margin: .2rem 2vw;
   /* background: transparent; */
    border: none;
    font-size: 2rem;
    color: #555;
}
nav {
    background-color: white;
	/*position: relative;*/
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

nav ul li a {
    display: block; 
    padding: .8rem 2vw;
    text-decoration: none;
    color: black;
    border-top: 1px solid rgba(0,0,0);
}



nav ul li.active a {
    background-color: rgba(0,0,0);
    color: #fff;
}

nav ul li a:hover {
    background-color: rgba(0,0,0);
	color: #fff;
}

nav ul {display: none;}
nav ul.open {display: block;
	position: absolute;
	top: 120px;
	right: 1px;
	border: 1px solid rgb(161, 9, 9);
	background-color: #027e21;
}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}



.change {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
  
.social {
	order: 1;
}

.menu {
	order: 2;
}

.currentdate {
	border: 1px solid #858585;
	background-color: rgba(133, 133, 133, 0.219);
	text-align:center;
	margin-left: 5px;
	margin-top: 10px;
	margin-right: 5px;
	margin-bottom: 5px;
}

 .currentdate em {
  	margin: 0 auto;
	
 }








 /* ************ */

 main > h3 {
	margin: 0;
  }
  
  main > h3+p {
	margin-top: 0;
  }
  
  
  
  .mainContainer {
    position: relative;
	width: 90%;
	max-width: 940px;
	margin: 20px auto;
	background-color: #fff;
    z-index: -1;
  }
  
  .home-hero {
	display: grid;
	grid-gap: 5px;
	grid-auto-rows: minmax(250px, auto);
  }
  
  .home-hero > * {
	padding: 10px;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #333;
	color: #fff;
  }
  
  .mainHero {
	background-position: center;
	color: #fff;
  }
  
  .weather {
	color: #fff;
	background-position: center;
  }
  
  .join {
	color: #fff;
	background-position: center;
  }

  .join { display: none;}

  .event {
	color: #fff;
	display: flex;
	flex-direction: column;
  }
  
  .event h3,
  .news h3{
	margin-top: auto;
  }
  
  .news {
	color: #fff;
	display: flex;
	flex-direction: column;
  }
  
  .spotlights {
	background-color: #333;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  }
  .spotlights > div {
	  border: 1px solid white;
      color: black;
	  height: 50%;
	}
    .spot-1 > h3{
        background-color: #fff;
        margin: 0px;  
        padding: 5px;
    }
    .spot-1 > p{
        color: #fff;
    }
    .spot-2 > h3{
        background-color: #fff;
        margin: 0px;  
        padding: 5px;
    }
    .spot-2 > p{
        color: #fff;
    }
    .spot-3 {display: none;}



/* ************ */

footer {
	background-color: #fff;
	display: block;
	align-items: center;
	justify-content: center;
    text-align: center;
	padding: 10px;
	margin: 4px;
	border: 1px solid #858585;
}

.logoFooter > img {height: 90px;}

.footer-site-name h2 {
	display: flex;
	margin-top: 1px ;
	margin-bottom: 1px;
	justify-content: center;
}

.workInfo p {
	margin-top: 1px ;
	margin-bottom: 1px;
}